.mainItem {
  background-color: rgb(250, 250, 250);
  padding: 85px 0 85px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.subItem {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  border-radius: 55px;
  padding-top: 25px;
  width: 40%;
  height: 555px;
  box-shadow: 10px 11px 11px 12px rgb(210, 210, 210);
}

.images {
  display: flex;
  padding-top: 18px;
  justify-content: center;
}

.containerImage {
  width: 110px;
  height: 110px;
  border-radius: 155px;
  background-color: rgb(220, 222, 223);
  display: flex;
  align-items: center;
}

.profilePicture {
  border-radius: 125px;
  width: 100px;
  height: 95px;
}

input {
  height: 30px;
  width: 210px;
  box-shadow: inset 0px 0px 26px 0px rgb(196, 196, 196);
  border-radius: 55px;
}

.emailLogo {
  padding: 7px 0 0 22px;
  position: absolute;
  height: 23px;
  width: 23px;
}

.passwordLogo{
  padding: 2px 0 0 0;
  position: absolute;
  height: 34px;
  width: 65px;
}

.emailItem, .passwordItem{
  font-size: 13px;
  padding-left: 50px;
}

.passwordInput{
  padding-top: 18px;
}

button{
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 55px;
  font-size: 18px;
  color: rgb(255,255,255);
  background-color: rgb(102, 102, 231);
}

.loginButton{
  padding-top: 18px;
}

.passwordResetOrSignUpLink{
  font-weight: 390px;
  font-size: 14px;
}

a{
  color: rgb(102,102,231);
}